:root {
  --color-bg: #e4dccf;
  --color-bg-dark: #b5afa4;
  --color-dark: #373c40;
  --color-screen: #a2b39e;
  --color-true: #54b93a;
  --color-true-dark: #368323;
  --color-false: #c62e2e;
  --color-false-dark: #932424;
  --color-restart: #ff8019;
  --color-restart-dark: #d14700;
  --color-score: #3d3a3a;
  --color-score-dark: #121314;
}

@font-face {
  font-family: "Digits";
  src: url("./digits.otf");
}

@keyframes anim-rotate {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Digits";
}

.app {
  background-color: #f6f6f6;
  position: relative;
  min-height: 100vh;
}

.calculator {
  background-color: var(--color-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 30px;
  box-shadow: -3px 3px 15px #00000010;
}

.calc-header {
  padding: 40px 20px;
  background-color: var(--color-dark);
  border-radius: 15px;
  position: relative;
}

.calc-timer {
  position: absolute;
  color: var(--color-bg);
  top: 8px;
  left: 50%;
  height: 10px;
  transform: translateX(-50%);
  font-size: 20px;
}

.calc-clock {
  display: inline-block;
}

.calc-rotate {
  animation: anim-rotate 1s linear infinite;
}

.calc-screen {
  width: 280px;
  border-radius: 15px;
  background-color: var(--color-screen);
  color: var(--color-dark);
  text-align: right;
  padding: 10px 20px;
}

.calc-digits {
  font-size: 45px;
}

.calc-equal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 0.8;
}
.calc-result {
  font-size: 72px;
}

.calc-body {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.calc-action {
  display: block;
  padding: 15px 0;
  flex-basis: 47%;
  margin-bottom: 35px;
  font-size: 42px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: -3px 3px 15px #00000010;
  position: relative;
  border: 3px solid;
}

.calc-action::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  left: -3px;
  border-radius: 12px;
  z-index: -1;
  border: 3px solid;
}

.calc-action:active {
  bottom: -10px;
}

.calc-action:active.calc-action::after {
  content: "";
  top: 10px;
}

.calc-action--true {
  background-color: var(--color-true);
  border-color: var(--color-true-dark);
}
.calc-action--true::after {
  background-color: var(--color-true-dark);
  border-color: var(--color-true-dark);
}

.calc-action--false {
  background-color: var(--color-false);
  border-color: var(--color-false-dark);
}
.calc-action--false::after {
  background-color: var(--color-false-dark);
  border-color: var(--color-false-dark);
}

.calc-action--restart {
  font-weight: 900;
  background-color: var(--color-restart);
  border-color: var(--color-restart-dark);
}
.calc-action--restart::after {
  background-color: var(--color-restart-dark);
  border-color: var(--color-restart-dark);
}

.calc-action--score {
  background-color: var(--color-score);
  border-color: var(--color-score-dark);
}
.calc-action--score::after {
  background-color: var(--color-score-dark);
  border-color: var(--color-score-dark);
}

.calc-action--disabled {
  pointer-events: none;
}
